@tailwind base;
@tailwind components;
@tailwind utilities;


.mediascreen {
    display: flex;
    height: 91vh;
    overflow: scroll;
    overflow-x: hidden;
}

.mediascreen::-webkit-scrollbar {
    width: 5px;
}

.mediascreen::-webkit-scrollbar-track {
    background-color: rgba(233, 233, 233, 0);
}

.mediascreen:hover.mediascreen::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #bebebe;
}


@media screen and (max-width: 620px) {
    .mediascreen {
        display: none;
    }
}


